.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}


label {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.navbar {
  margin: 0;
  width: 100%;
  height: 65px;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: rgb(65, 65, 65);
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  font-size: 18px;
}

h1, h2, h3, h5{
  text-align: center;
}



table {
  margin-left: auto;
  margin-right: auto;
}

.create-appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.create-appointment form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  border: 0px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0.5, 0, 0.5);
  margin-bottom: 30px;
}

img {
  width: 400px;
}

div {
  width: 100%;
  align-items: center;
}


.centered-line {
  width: 70%;        
  margin: 0 auto;   
  border: none;     
  height: 1px;    
  background-color: #797979; 
}

input {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #333;
  font-family: Arial, sans-serif;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

#btn {
  height: 35px;
  width: 250px;
  font-size: 13px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.2s;
}


#btn:hover {
  background-color: rgb(211, 211, 211);
  color: black;
}


#btn_addLables {
  height: 35px;
  width: 250px;
  font-size: 13px;
  margin: 0px 0px 20px 0px;
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.2s;
}


#btn_addLables:hover {
  background-color: rgb(211, 211, 211);
  color: black;
}


.centered-text {
  text-align: center;
}

p {
  text-align: center;
}

textarea {
  width: 300px; /* 宽度填充父容器 */
  height: 60px; /* 适当的高度 */
  margin: 10px;
  padding: 10px; /* 内部间距 */
  border: 1px solid #ccc; /* 简单的边框 */
  border-radius: 4px; /* 圆角边框 */
  background-color: #f8f8f8; /* 浅灰背景色 */
  font-size: 16px; /* 适中的字体大小 */
  color: #333; /* 字体颜色 */
  resize: vertical; /* 允许垂直调整大小 */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* 内部阴影，增加深度感 */
  transition: border-color 0.2s ease-in-out; /* 平滑过渡效果 */
}

textarea:focus {
  outline: none; /* 去除焦点时的轮廓 */
  border-color: #66afe9; /* 焦点时的边框颜色 */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(102, 175, 233, 0.6); /* 焦点时增加阴影，突出显示 */
}


.button-container {
  display: flex; /* 启用 flexbox */
  flex-wrap: wrap; /* 允许元素换行 */
  justify-content: center; /* 按钮居中分布 */
  align-items: center; /* 垂直居中对齐 */
  gap: 10px; /* 按钮之间的间距 */
}

.button-container button {
  flex: 1; /* 按钮占用可用空间 */
  max-width: 10%; /* 设置最大宽度为 80% */
  min-width: 100px; /* 设置最小宽度，避免按钮太小 */
  margin: 5px; /* 为按钮添加一些外边距 */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */
  height: 100%; /* 可能需要调整高度 */
}

form > div {
  width: 100%; /* 或者所需的宽度 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* 间距 */
}

form label, form input, form textarea, form button {
  margin-bottom: 10px; /* 为元素添加间距 */
}

