<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        
        <handlers>
            <!-- Indicates that the node.js application should be handled by the iisnode module -->
            <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
        </handlers>
        
        <rewrite>
            <rules>
                <!-- Rule for Static Content (Front-end) -->
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^(client/build/.*)" ignoreCase="false"/>
                    <action type="None"/>
                </rule>

                <!-- Rule for API (Back-end) -->
                <rule name="API">
                    <match url="api/*" ignoreCase="false"/>
                    <action type="Rewrite" url="index.js"/>
                </rule>
                
                <!-- Rule for Deep Links -->
                <rule name="ReactRoutes" stopProcessing="true">
                    <match url=".*"/>
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/"/>
                </rule>
                
            </rules>
        </rewrite>
        
    </system.webServer>
</configuration>
