<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Indicates that the index.js is a Node.js application to be handled by iisnode -->
            <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <!-- All API requests are forwarded to index.js -->
                <rule name="API" stopProcessing="true">
                    <match url="api/*" />
                    <action type="Rewrite" url="index.js"/>
                </rule>

                <!-- All other requests are treated as static files -->
                <rule name="StaticContent">
                    <match url="/*" />
                    <action type="Rewrite" url="client/build/index.html"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
