<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- 指出 server.js 文件是一个 Node.js 站点，并由 iisnode 模块处理 -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <!-- 靜態內容規則：將請求重寫到 client/build 目錄 -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="client/build{REQUEST_URI}"/>
                </rule>
        
                <!-- 動態內容規則：將所有其他請求重寫到 Node.js 應用（server.js） -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
